h1{
    font-size: 1.75em;
    font-weight: bold;
}

.task-list{
    list-style-type: none;
    list-style-position: outside;
    margin-left: 0;
    padding-left: 0;
}

select.btn-mini {
    height: auto;
    line-height: 13px;
    font-size: .8em;
}

.btn-secondary{
    height: auto;
    line-height: 13px;
    font-size: .8em;
}

/* this is optional (see below) */
select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    padding-right: 16px;
}

select.btn-mini + .caret {
    margin-left: -20px;
    margin-top: 9px;
}